@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 1024px) {
  .home-header {
    position: relative;
  }

  .home-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 700px;
    background: linear-gradient(to bottom, #75ac8b00 20%, #C2DACC 80%);
    pointer-events: none;
  }
}

.shadow {
  -webkit-box-shadow: -4px 4px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 4px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 21px 0px rgba(0, 0, 0, 0.75);
}
